.today-schedule-container{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    /* height: 280px;
    width: 540px;
    margin-top: 30px; */
    border-radius: 20px;
    padding: 25px;
}

.heading{
    font-size: 18px;
    font-weight: 700;
}

.today-schedule-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.schedules{
    display: flex;
    align-items: center;
}

.bar-green{
    height: 3.5rem;
    width: 5px;
    background: #9BDD7C;
    margin-right: 10px;
}

.top{
    margin-bottom: 15px;
}

.bar-purple{
    height: 3.5rem;
    width: 5px;
    background: #6972C3;
    margin-right: 10px;
}

.schedule-head{
    font-size: 14px;
    /* font-weight: 500; */
}

.arrow-text{
    font-size: 12px;
}

.arrow{
    font-weight: 700;
}

.time{
    font-size: 12px;
    font-weight: 100;
}

.address{
    font-size: 12px;
    font-weight: 100;
}